
body {
  background-image: url(/image/liquid-cheese.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}


.menu-bx {
  position: absolute;
  background-color: #2f363e; 
}

.menu-bx ul {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;  
  gap: 1.7rem; 
}

ul a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

ul li {
  list-style: none;
  
} 

main img {
  position: relative;
  top: 12rem;
  left: 12rem;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  box-shadow: 25px 25px 75px rgba(0,0,0,0.25), 10px 10px 70px rgba(0,0,0,0.25), inset 5px 5px 10px rgba(0,0,0,0.5), inset 5px 5px 20px rgba(255,255,255,0.2), inset -5px -5px 15px rgba(0,0,0,0.75); 
}

.about-text {
  position: relative;
  top: -8rem;
  left: 40rem;
  max-width: 25rem;
  max-height: 25rem;
  color: white;
  font-size: 1.3rem;
  box-shadow: 25px 25px 75px rgba(0,0,0,0.25), 10px 10px 70px rgba(0,0,0,0.25), inset 5px 5px 10px rgba(0,0,0,0.5), inset 5px 5px 20px rgba(255,255,255,0.2), inset -5px -5px 15px rgba(0,0,0,0.75); 
}
