
body {
  background-image: url(image/liquid-cheese.svg);
  background-repeat: no-repeat;
  background-size: cover;
}


.menu-bx {
  justify-content: center;
  align-items: center;
}

.menu-bx ul {
  display: flex;
  position: absolute;
  
}

ul a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  
}

ul li {
  list-style: none;
  
} 

.menu-bx ul li img {
  height: 2rem;
  width: 2rem;  
  
} 