@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Tangerine:wght@700&display=swap');


body {
  background-image: url(/image/sun-tornado.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}


.menu-bx {
  position: absolute;
  background-color: #2f363e; 
}

.menu-bx ul {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;  
  gap: 1.7rem; 
}

ul a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}

ul a:hover {
  background-color: white;
  border-bottom: solid 2px black;
  font-size: 1.6rem;
  overflow: hidden;
  color: black;
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: 25px 25px 75px rgba(0,0,0,0.25), 10px 10px 70px rgba(0,0,0,0.25), inset 5px 5px 10px rgba(0,0,0,0.5), inset 5px 5px 20px rgba(255,255,255,0.2), inset -5px -5px 15px rgba(0,0,0,0.75); 

}

ul li {
  list-style: none;  
} 

main {
  position: relative;
  background-color: aliceblue;
  top: 6rem;
  left: 9rem;
  width: 55rem;
  height: 25rem;
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-top: -0.2rem;
  margin-bottom: -1rem;
}

.header2 {
  font-family: 'Tangerine', cursive;
  font-size: 2rem;
  margin-top: -0.4rem;
}

main img {
  height: 2rem;
  width: 2rem;
}

form {
  text-align: left; 
}

form #label_send {
  font-size: 1.1rem;
  color: gray;
  margin-bottom: 0.6rem;
}

form input {
  padding: 0.5rem 29.5rem 0.5rem 0.5rem;
  margin-bottom: 0.5rem;
}

#name {
  margin-top: 0.6rem;
}

form textarea {
  padding-left: 0.5rem;
  resize: none;
}

#send {
  padding: 1rem 1.4rem 1rem 1.4rem;
  cursor: pointer;
  background-color: #2f363e;
  color: white;
  border: none;
  margin-top: 0.5rem;
}

.box {
  display: flex;
  gap: 3rem;
}