@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Bungee+Shade&family=Karla&display=swap');


* {
  margin: 0;
  padding: 0;
  /* font-family: 'Courier New', Courier, monospace; */
  color: #fff;
  
}

body {
  background-color: rgb(5, 5, 5);
  font-family: 'Bungee Shade', sans-serif, ;
}

 /* Home Start */


 .main-wrapper {
  position: fixed;
  top: 20px;
  right: 30px;
  
 }


.main-wrapper .profile {
  position: relative;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  
}

.main-wrapper .profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.main-wrapper .menu-drp {
  position: absolute;
  top: 8rem;
  right: -0.9rem;
  padding: 0.9rem 1.5rem;
  width: 13rem;
  background-color: white;
  box-sizing: 0 0.4rem 1.5rem rgba(0,0,0,0.1);
  border-radius: 1.9rem;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.main-wrapper .menu-drp.active {
  top: 6rem;
  visibility: visible;
  opacity: 1;
}

.main-wrapper .menu-drp::before {
  content: '';
  position: absolute;
  top: -0.3rem;
  right: 1.8rem;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  transform: rotate(45deg);
}

.main-wrapper .menu-drp h3{
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  padding: 1.5rem 0;
  font-weight: 700;
  color: #555;
  line-height: 1.2em;
}


.main-wrapper .menu-drp h3 span{
  font-size: 0.89rem;
  color: #cecece;
  font-weight: 400;
}


.main-wrapper .menu-drp ul li {
  list-style: none;
  padding: 0.8rem 0;
  border-top: 0.1rem solid rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
  
}

.main-wrapper .menu-drp ul li img {
  max-width: 1.3rem;
  margin-right: 0.90rem;
  opacity: 0.5;
  transition: 0.5s;
}

.main-wrapper .menu-drp ul li:hover img {
  opacity: 1;
}

.main-wrapper .menu-drp ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}

.main-wrapper .menu-drp ul li:hover a {
  color: royalblue;
}


.main__container {
  font-family: 'Bungee Outline';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;  
  
}

.main__container span {
  color: yellow;
  
}

#anchor {
  width: 0.01rem;
  height: 0.01rem;
}

#eyes, #eyes img {
  position: absolute;
  width: 3rem;
  height: 3rem;
}

#symbols {
  position: absolute;
  height: 7rem;
  width: 7rem;
  opacity: 0.01;
}

a #symbols:hover {
  opacity: 1;
  cursor: none;
}

/* Home End */

/*About start */




/*About End */






/* Resume start */




/* Resume end */






/* Project start */






/* Project End */



/* Contact start */




/* Contact End */
